# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "91e6eb6cc461419c4311a72d107074c9"
name = "Sample app"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
